
<!DOCTYPE HTML>
<html>
{% load staticfiles %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
	<title>Sunil Prakash</title>


	<link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" media="screen">
	<link href="{% static "css/prettyPhoto.css" %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static "css/normalize.css" %}" type="text/css" media="screen">
	<link rel="stylesheet" href="{% static "css/grid.css" %}" type="text/css" media="screen">


	<link href='http://fonts.googleapis.com/css?family=Dosis:400,300,700,900' rel='stylesheet' type='text/css'>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript" src="{% static "js/jquery.easing.1.3.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.prettyPhoto.js" %}"></script>
	<script src="{% static "js/jquery.sticky.js" %}"></script>
	<script type="text/javascript" src="{% static "js/home2.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.stellar.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/waypoints.min.js" %}"></script>

	<!--[if lt IE 9]>
		<script src="{% static "js/html5shiv.js" %}"></script>
		<script src="{% static "js/respond.src.js" %}"></script>
	<![endif]-->

</head>

<body>


<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
	<div class="effect_2">
		<div class="container clearfix">

			<div id="content" class="grid_12">
				<div class="filtr_bg">
					<span>I'm</span>
					<div class="slogan">
						<div class="center_bord"></div>
					</div>
					<h1>Sunil Prakash</h1>
					<a class="button" title="" data-slide="2"></a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="inset_shadow"></div>
	</div>
</div>


<div class="menu">
	<div class="container clearfix">

		<div id="nav">
			<a class="btn_dropdown" data-toggle="collapse" data-target=".nav-collapse_">MENU</a>
			<ul class="navigation">
				<li data-slide="2">About Me</li>
				<li data-slide="4">Apps</li>
				<li data-slide="6">Inspirations</li>
				<li data-slide="8">Resume</li>
				<li data-slide="10">Works</li>
				<li data-slide="12">Contact</li>
				<div class="clear"></div>
			</ul>
		</div>

	</div>
</div>


<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
	<div class="container clearfix">

		<div id="content" class="grid_12">
			<h2><span>About</span></h2>
		</div>
		<div class="clear"></div>

		<div id="content">
			<div class="grid_8">
				<h4>Personal Info</h4>
				<p>Passionate Web Developer and Designer</p>
				<p>Self Motivated Professional with Design, Develop and Enterprise Architecture skills. Love to design web pages and enjoys fun with development in various languages.</p>
			</div>
			<div class="grid_4 omega">
				<h4>Skills</h4>
				<ul id="skills_block">
					<p>Proficient with Design <b>60%</b></p>
					<div class="progress progress-striped active">
						<div class="bar" style="width: 60%"></div>
					</div>
					<p>Expertise with Development <b>80%</b></p>
					<div class="progress progress-striped active">
						<div class="bar" style="width: 80%"></div>
					</div>
					<p>Master with Architecture <b>55%</b></p>
					<div class="progress progress-striped active">
						<div class="bar" style="width: 55%"></div>
					</div>
					<p>Technology Agnostic <b>85%</b></p>
					<div class="progress progress-striped active">
						<div class="bar" style="width: 85%"></div>
					</div>
				</ul>
			</div>
			<div class="clear"></div>

		</div>

	</div>
</div>




<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
	<div class="container clearfix">

		<div id="content" class="grid_12">
			<h2>Products</h2>
		</div>
		<div class="clear"></div>

		<div id="content">
			<ul class="ca-menu">
				<li class="grid_4">
					<a class="servc_block" href="javascript:void(0);" alt="">
						<img class="icon1" src="{% static "images/num11.png" %}" />
						<img class="icon1_h" src="{% static "images/num1_h.png" %}" />
						<div class="ca-content">
							<div class="ca-main">Commute</div>
							<div class="ca-sub">Social app for communicating with friends and colleagues and share quick messages.  </div>
						</div>
					</a>
				</li>
				<li class="grid_4">
					<a class="servc_block" href="javascript:void(0);" alt="">
						<img class="icon1" src="{% static "images/num2.png" %}" />
						<img class="icon1_h" src="{% static "images/num2_h.png" %}" />
						<div class="ca-content">
							<div class="ca-main">Sprakas</div>
							<div class="ca-sub">App for learners which presents in slides for various technologies and helps to bookmarks with ease.</div>
						</div>
					</a>
				</li>
				<li class="grid_4 omega">
					<a class="servc_block" href="javascript:void(0);" alt="">
						<img class="icon1" src="{% static "images/num3.png" %}" />
						<img class="icon1_h" src="{% static "images/num3_h.png" %}" />
						<div class="ca-content">
							<div class="ca-main">ReviewApp</div>
							<div class="ca-sub">Work app for developers and leads to review the code written in any language at central location wich integrates with working IDE and task assignment.</div>
						</div>
					</a>
				</li>
				<div class="clear"></div>
			</ul>

		</div>

	</div>
</div>



<div class="slide" id="slide6" data-slide="6" data-stellar-background-ratio="0.5">
	<div class="container clearfix">

		<div id="content" class="grid_12">
			<h2><span>Inspirations</span></h2>
		</div>
		<div class="clear"></div>

		<div id="content">
			<div class="grid_12">
				<div class="accordion">
					<div class="vert_line"></div>
					<h3>
						<div class="ac_date">2015</div>
						<div class="ac_plmin"></div>
						<span><div class="left_bord_ac_title"></div>“Mobile Game ”, most precisely iOS games</span>
					</h3>
					<div class="accord_cont">
						Inspired to develop more fun games and learn to make 2D and 3D games, with upcoming intrest of apple watch games.
					</div>
					<h3>
						<div class="ac_date">2012</div>
						<div class="ac_plmin"></div>
						<span><div class="left_bord_ac_title"></div>“RoR”, Ruby influenced to see outside java world</span>
					</h3>
					<div class="accord_cont">
						A new world of web development and great new experiences with inspiration from Ruby on rails , and soon Play framework.
					</div>
					<h3>
						<div class="ac_date">2005</div>
						<div class="ac_plmin"></div>
						<span><div class="left_bord_ac_title"></div>“Java , Java and Java"</span>
					</h3>
					<div class="accord_cont">
						Focused on leveraging skills with enterprise applications development with Java and related web technologies, which provides more exposure in all layers of project development including the core data with oracle world.
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>

	</div>
</div>



<div class="slide" id="slide8" data-slide="8" data-stellar-background-ratio="0.5">
	<div class="container clearfix">

		<div id="content" class="grid_12">
			<h2><span>Resume</span></h2>
		</div>
		<div class="clear"></div>

		<div id="content">
			<div class="grid_12">
				<h4>Experience</h4>
				<div class="accordion">
					<div class="vert_line"></div>
					<h3>
						<div class="ac_date">2012 - now</div>
						<div class="ac_plmin"></div>
						<span><div class="left_bord_ac_title"></div>Technology Specialist  @Cognizant</span>
					</h3>
					<div class="accord_cont">
						Various roles played including Solution Architect, Performance Consultant, CI developers and more.
					</div>
					<h3>
						<div class="ac_date">2007 - 2012</div>
						<div class="ac_plmin"></div>
						<span><div class="left_bord_ac_title"></div>Project Lead  @Syntel Inc.</span>
					</h3>
					<div class="accord_cont">
						Enterprise application for various banks and worked on frontend, backend and middleware tools to leverage the product development skills and exceeds  client expectations.
					</div>
					<h3>
						<div class="ac_date">2003 - 2007</div>
						<div class="ac_plmin"></div>
						<span><div class="left_bord_ac_title"></div>Freelancer</span>
					</h3>
					<div class="accord_cont">
						Developed various web and desktop intelligence projects with java and .net technologies, more fun engagement in exploring new things
					</div>
					<h3>
						<div class="ac_date">pre 2003</div>
						<div class="ac_plmin"></div>
						<span><div class="left_bord_ac_title"></div>School</span>
					</h3>
					<div class="accord_cont">
						@Academics
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>

	</div>
</div>










<div class="slide" id="slide10" data-slide="10" data-stellar-background-ratio="0.5">
	<div class="container clearfix">

		<div id="content" class="grid_12">
			<h2>Portfolio</h2>
		</div>
		<div class="clear"></div>

		<div id="contenet">
			<div class="overflow_hidden">
				<!-- portfolio_block -->
                <!--
				<div class="gallery-list">
					<div class="img_block">
						<div class="hover_img">
							<img class="portf_img" src="images/portfolio/1.jpg" alt="" />
							<span class="portfolio_zoom"><a href="images/portfolio/full/1.jpg" rel="prettyPhoto[portfolio1]"></a></span>
							<span class="portfolio_link"><a href="javascript:void(0);">View item</a></span>
						</div>
						<div class="item_description">
							Etiam gravida convallis
						</div>
					</div>
					<div class="img_block">
						<div class="hover_img">
							<img class="portf_img" src="images/portfolio/2.jpg" alt="" />
							<span class="portfolio_zoom"><a href="images/portfolio/full/2.jpg" rel="prettyPhoto[portfolio1]"></a></span>
							<span class="portfolio_link"><a href="javascript:void(0);">View item</a></span>
						</div>
						<div class="item_description">
							Quisque vulputate tristique
						</div>
					</div>
					<div class="img_block">
						<div class="hover_img">
							<img class="portf_img" src="images/portfolio/3.jpg" alt="" />
							<span class="portfolio_zoom"><a href="images/portfolio/full/3.jpg" rel="prettyPhoto[portfolio1]"></a></span>
							<span class="portfolio_link"><a href="javascript:void(0);">View item</a></span>
						</div>
						<div class="item_description">
							Praesent a augue non
						</div>
					</div>
					<div class="img_block">
						<div class="hover_img">
							<img class="portf_img" src="images/portfolio/4.jpg" alt="" />
							<span class="portfolio_zoom"><a href="images/portfolio/full/4.jpg" rel="prettyPhoto[portfolio1]"></a></span>
							<span class="portfolio_link"><a href="javascript:void(0);">View item</a></span>
						</div>
						<div class="item_description">
							Vestibulum euismod
						</div>
					</div>
					<div class="img_block">
						<div class="hover_img">
							<img class="portf_img" src="images/portfolio/5.jpg" alt="" />
							<span class="portfolio_zoom"><a href="images/portfolio/full/5.jpg" rel="prettyPhoto[portfolio1]"></a></span>
							<span class="portfolio_link"><a href="javascript:void(0);">View item</a></span>
						</div>
						<div class="item_description">
							Etiam gravida convallis
						</div>
					</div>
					<div class="img_block">
						<div class="hover_img">
							<img class="portf_img" src="images/portfolio/6.jpg" alt="" />
							<span class="portfolio_zoom"><a href="images/portfolio/full/6.jpg" rel="prettyPhoto[portfolio1]"></a></span>
							<span class="portfolio_link"><a href="javascript:void(0);">View item</a></span>
						</div>
						<div class="item_description">
							Praesent a augue non
						</div>
					</div>
					<div class="img_block">
						<div class="hover_img">
							<img class="portf_img" src="images/portfolio/7.jpg" alt="" />
							<span class="portfolio_zoom"><a href="images/portfolio/full/7.jpg" rel="prettyPhoto[portfolio1]"></a></span>
							<span class="portfolio_link"><a href="javascript:void(0);">View item</a></span>
						</div>
						<div class="item_description">
							Etiam gravida convallis
						</div>
					</div>
					<div class="img_block">
						<div class="hover_img">
							<img class="portf_img" src="images/portfolio/8.jpg" alt="" />
							<span class="portfolio_zoom"><a href="images/portfolio/full/8.jpg" rel="prettyPhoto[portfolio1]"></a></span>
							<span class="portfolio_link"><a href="javascript:void(0);">View item</a></span>
						</div>
						<div class="item_description">
							Lorem ipsum dolor
						</div>
					</div>

					<div class="clear"></div>
				</div>
				-->
				<!-- //portfolio_block -->
			</div>
		</div>

	</div>
</div>







<div class="slide" id="slide12" data-slide="12" data-stellar-background-ratio="0.5">
	<div class="container clearfix">

		<div id="content" class="grid_12">
			<h2>Contact</h2>
		</div>
		<div class="clear"></div>

		<div class="grid_12">
			<h5>Sunil Prakash</h5>
			<span>( Software Engineer )</span>
			<p class="left_align"> </p>
			<div class="contact_det">
				<a href="javascript:void(0);">support@sunilprakash.com</a>
				<p></p>
			</div>
			<div class="socials">
				<a class="soc1" href="javascript:void(0);"></a>
				<a class="soc2" href="javascript:void(0);"></a>
				<a class="soc3" href="javascript:void(0);"></a>
				<a class="soc4" href="javascript:void(0);"></a>
			</div>
		</div>
		<div class="clear"></div>

	</div>
</div>




<div id="footer">
	<div class="container clearfix">
		<div class="copyright">Sunil Prakash &copy; 2015 | <a href="javascript:void(0);">Privacy Policy</a></div>
		<div id="back_top"><a class="button" title="" data-slide="1"></a></div>
	</div>
</div>


</body>
</html>






